<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>About</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="/home">HOME PAGE</a>
      <a href="/about">ABOUT PAGE</a>
      <a href="/works">WORKS PAGE</a>
    </div>
    <div class="content">
      <a
        class="image-video"
        href="https://www.youtube.com/watch?v=YNumBrEg7TQ&ab_channel=IMDb"
        target="_blank"
      ></a>

      <h2>Who was Alfred Hitchcock?</h2>
      <p>
        Sir Alfred Joseph Hitchcock KBE (from 13 August 1899 till 29 April 1980)
        was an English film director and producer.
      </p>
      <p>
        He is widely regarded as one of the most influential figures in the
        history of cinema. In a career spanning six decades, he directed over 50
        feature films, many of which are still widely watched and studied today.
        Known as the "Master of Suspense", he became as well known as any of his
        actors thanks to his many interviews, his cameo roles in most of his
        films.
      </p>
      <h2>Master of Suspense</h2>
      <p>
        Hitchcock attended the Jesuit school St. Ignatius College before going
        on to attend the University of London, taking art courses. He eventually
        obtained a job as a draftsman and advertising designer for the cable
        company Henley's. It was while working at Henley's that he began to
        write, submitting short articles for the in-house publication. From his
        very first piece, he employed themes of false accusations, conflicted
        emotions and twist endings with impressive skill. In 1920, Hitchcock
        entered the film industry with a full-time position at the Famous
        Players-Lasky Company designing title cards for silent films. Within a
        few years, he was working as an assistant director.
      </p>
      <h2>Death and Legacy</h2>
      <p>
        Hitchcock directed more than 50 feature films in a career spanning six
        decades. He received the American Film Institute's Life Achievement
        Award in 1979. One year later, on April 29, 1980, Hitchcock died
        peacefully in his sleep in Bel Air, California. He was survived by his
        lifetime partner, assistant director and closest collaborator, Alma
        Reville, also known as "Lady Hitchcock," who died in 1982.
      </p>
    </div>
  </body>
</html>
