<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="/home">HOME PAGE</a>
      <a href="/about">ABOUT PAGE</a>
      <a href="/works">WORKS PAGE</a>
    </div>
    <div class="content">
      <h1>Alfred Hitchcock</h1>
      <h3>
        Hello Visitors, welcome to the most recent website about Alfred
        Hitchcock, the "Master of Suspense".
      </h3>
      <img src="/images/alfredo.jpg" alt="alfred" />
    </div>
  </body>
</html>
