<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Works</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="/home">HOME PAGE</a>
      <a href="/about">ABOUT PAGE</a>
      <a href="/works">WORKS PAGE</a>
    </div>    
    <div class="content-films">
      <h2>Filmography</h2>
      <div class="line">
          <div class="column">
            <a 
              href="https://en.wikipedia.org/wiki/Blackmail_(1929_film)"
              target="_blank" title="Blackmail (1929)"
              ><img src="/images/blackmail.jpg" alt="blackmail"></a
            >
            <a 
              href="https://en.wikipedia.org/wiki/The_39_Steps_(1935_film)"
              target="_blank" title="The 39 Steps (1935)"
              ><img src="/images/39steps.png" alt="39steps"></a
            >
            <a 
              href="https://en.wikipedia.org/wiki/Sabotage_(1936_film)"
              target="_blank" title="Sabotage (1936)"
              ><img src="/images/sabotage.png" alt="sabotage"></a
            >
            <a 
              href="https://en.wikipedia.org/wiki/The_Lady_Vanishes"
              target="_blank" title="The Lady Vanishes (1938)"
              ><img src="/images/lady.png" alt="lady"></a
            >
            <a 
              href="https://en.wikipedia.org/wiki/Rebecca_(1940_film)"
              target="_blank" title="Rebecca (1940)"
              ><img src="/images/rebecca.png" alt="rebecca"></a
            >
            <a 
              href="https://en.wikipedia.org/wiki/Suspicion_(1941_film)"
              target="_blank" title="Suspicion (1941)"
              ><img src="/images/suspicion.png" alt="suspicion"></a
            >
          </div>
          <div class="column">
            <a 
              href="https://en.wikipedia.org/wiki/Saboteur_(film)"
              target="_blank" title="Saboteur (1942)"
              ><img src="/images/saboteur.png" alt="saboteur"></a
            >
            <a 
              href="https://en.wikipedia.org/wiki/Shadow_of_a_Doubt"
              target="_blank" title="Shadow of a Doubt (1943)"
              ><img src="/images/shadow.png" alt="shadow"></a
            >
            <a 
              href="https://en.wikipedia.org/wiki/Spellbound_(1945_film)"
              target="_blank" title="Spellbound (1945)"
              ><img src="/images/spellbound.png" alt="spellbound"></a
            >  
            <a 
              href="https://en.wikipedia.org/wiki/Notorious_(1946_film)"
              target="_blank" title="Notorious (1946)"
              ><img src="/images/notorious.jpg" alt="notorious"></a
            >  
            <a href="https://en.wikipedia.org/wiki/Rope_(film)" target="_blank" title="Rope (1948)"
              ><img src="/images/rope.jpg" alt="rope"></a
            >  
            <a 
              href="https://en.wikipedia.org/wiki/Strangers_on_a_Train_(film)"
              target="_blank" title="Strangers on a Train (1951)"
              ><img src="/images/train.jpg" alt="train"></a>
            </div>        
            <div class="column">
            <a 
              href="https://en.wikipedia.org/wiki/Dial_M_for_Murder"
              target="_blank" title="Dial M for Murder (1954)"
              ><img src="/images/murder.jpg" alt="dial-murder"></a
            >    
            <a href="https://en.wikipedia.org/wiki/Rear_Window" target="_blank" title="Rear Window (1954)"
              ><img src="/images/window.jpg" alt="window"></a
            >    
            <a href="https://en.wikipedia.org/wiki/To_Catch_a_Thief" target="_blank" title="To Catch a Thief (1955)"
              ><img src="/images/thief.jpg" alt="thief"></a
            >    
            <a href="https://en.wikipedia.org/wiki/The_Trouble_with_Harry"
              target="_blank" title="The Trouble with Harry (1955)"
              ><img src="/images/harry.jpg" alt="harry"></a
            >
            <a href="https://en.wikipedia.org/wiki/The_Man_Who_Knew_Too_Much_(1956_film)"
            target="_blank" title="The Man Who Knew Too Much (1956)"
            ><img src="/images/the-man.jpg" alt="the-man-knew"></a
            >
            <a href="https://en.wikipedia.org/wiki/The_Wrong_Man" target="_blank" title="The Wrong Man (1956)"
            ><img src="/images/wrong-man.jpg" alt="wrong-man"></a
            >
            <div class="column">
              <a href="https://en.wikipedia.org/wiki/Vertigo_(film)" target="_blank" title="Vertigo (1958)"
              ><img src="/images/vertigo.jpg" alt="vertigo"></a
              >
              <a 
              href="https://en.wikipedia.org/wiki/North_by_Northwest"
              target="_blank" title="North by Northwest (1959)"
              ><img src="/images/north.jpg" alt="north"></a
              >
              <a 
              href="https://en.wikipedia.org/wiki/Psycho_(1960_film)"
              target="_blank" title="Psycho (1960)"
              ><img src="/images/psycho.jpg" alt="psycho"></a
              >
              <a href="https://en.wikipedia.org/wiki/The_Birds_(film)" target="_blank" title="The Birds (1963)"
              ><img src="/images/birds.jpg" alt="birds"></a
              >
    
              <a href="https://en.wikipedia.org/wiki/Marnie_(film)" target="_blank" title="Marnie (1964)"
              ><img src="/images/marnie.jpg" alt="marnie"></a
              >
              <a href="https://en.wikipedia.org/wiki/Torn_Curtain" target="_blank" title="Torn Curtain (1966)"
              ><img src="/images/curtain.jpg" alt="torn-curtain"></a
              >
            </div>
        </div>  
    </div>
  </body>
</html>
